*{
	margin: 0;
	padding: 0;
	font-family: 'helvetica';

}

body{
	background: #f5f5f5;
}

.Logo{
	width: 10%;
	color: white;
	font-size: 50px;
	float: left;
	clear: both;
	margin-left: 25px;
  margin-top: 5px;
}

#merchText a{
	text-decoration: none;
	color: #a27cef;
	font-family: 'Fredoka One', cursive;
}

#stickedToTop{
	position: fixed;
	top:0;
	width: 100%;
	z-index: 1;
}


#stickedToTop:after{
	visibility: none;
	content: " ";
	clear: both;
	display: block;
}

.tm-nav{
	margin-top: 5px;
	float: right;
	margin-right: 7px;
}

.tm-nav ul li {
	display: inline-block;
}

.tm-nav ul li a{
	padding: 10px 20px;
	color:#c4c4c4;
	line-height: 50px;
	font-size: 20px;
	text-decoration: none;
}

.tm-nav ul li a:hover{
	background: white;
	border-radius: 3px;
	color: #a27cef;
}

.tm-nav ul li button{
	padding-left: 10px;
	padding-right: 10px;
	border:none;
	outline:none;
	color:#c4c4c4;
	line-height: 40px;
	font-size: 20px;
	text-decoration: none;
	background: white;
}

.tm-nav ul li button:hover{
	background: white;
	border-radius: 3px;
	color: #a27cef;
	cursor: pointer;
}

.searchHeader{
	background: white;
}

.searchHeader:after{
	visibility: none;
	content: " ";
	clear: both;
	display: block;
}

.searchBar{
	width: 50%;

}

.searchBar input[type="text"]{
	margin-top: 10px;
  padding-left: 10px;
  padding-top:3px;
	padding-bottom: 2px;
	vertical-align: middle;
	width:20%;
	height: 40px;
	text-decoration: none;
	outline: none;
	border: none;
	border-left: none;
	background-color: #fff;
	font-size: 18px;
	vertical-align: middle;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	-webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: left;
}

.searchBar input[type="text"]:focus{
	width: 55%;

}

.searchBar input[type="text"]::placeholder{
  color: #c4c4c4;
}

.searchButton{
	margin-top: 10px;
  width: 5%;
	height: 45px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background: url(/Merch/img/magnifier.png) no-repeat scroll center;
  background-color:  #fff;
	border:none;
	border-right: 1px solid #d6d6d6;
  float: left;
	cursor: pointer;
}

.filterAndShoppingCart{
	background: white;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.cartDiv{
	background-color: white;
	font-size: 20px;
	padding: 20px;
	height: 90px;
	align-content: center;
	text-align: center;
	vertical-align: middle;
}

.cartDiv #dragAndDrop{
	font-weight: bold;

}

.cartDiv #click{
	font-weight: bold;

}

.cartDiv #textForCart1{
	color: #aaaaaa;
}

.cartDiv #textForCart2{
	color:#aaaaaa;
}

#shopping_bag{
}

.filterDiv{
	width: 13%;
	float: left;
	padding-left: 15px;
	color: #aaaaaa;
	margin-top:230px;
	position: fixed;

}

.filterDiv ul li {
	padding: 20px;
	list-style-type: none;
	font-size: 20px;
	cursor: pointer;
}

.filterDiv ul li:hover {
	background:#e8e8e8;
}

.btn img{
	float: left;
	margin-right: 20px;
}

#undoIcon{
	padding-bottom: 10px;
}

.line{
		border-top: solid 1px #d6d6d6;
		margin-top:5px;
		margin-bottom: 5px;
}

#requestModal{
    display: none; /* Hidden by default */
		position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

#requestContentDiv{
    background-color: #fefefe;
		border-radius: 15px;
    margin: 0px auto;
    width: 60%;
		height: 400px;
}

.main{
	float: right;
	width:85%;
	height: 100%;
	margin-top:210px;
	padding-left: 200px;
}

.main:after{
	visibility: none;
	content: " ";
	clear: both;
	display: block;
}

.contentBox{
	display: inline-block;
	padding: 20px;
	background: 	#ffffff;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	border-radius: 5px;
	width: 26%;
	margin: 20px;
	height: 550px;
}

.headerInBox{
	height: 50px;
}

.title{
	color: rgba(0,0,0,0.87);
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.imgWrap{
	height: 450px;
	cursor: pointer;
}

.img_description{
	padding: 10px;
	position: absolute;
	visibility: hidden;
	width: 17%;
}

.imgWrap:hover .img_description{
	visibility: visible;
}

.image:hover{
	opacity: 0.05;
	-webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}



.img_description .description{
	margin-bottom: 150px;
	color: #aaaaaa;
}

.img_description .hashtags{
	color: #aaaaaa;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.contentBox footer{
	height: 10%;
	padding-top: 20px;
}

#pricetagIcon{
	margin:5px;
	float: right;
}

#price{
	color:  #aaa;
	margin-top:7px;
	margin-right: 7px;
	font-size: 15px;
	float: right;

}

#numOfView{
	color:  #aaa;
	margin-top:7px;
	font-size: 15px;
	float: right;
}

#eye{
	margin:5px;
	float: right;
}
