*{
	margin: 0;
	padding: 0;
	font-family: 'helvetica';

}

body{
	background: #f5f5f5;
}

.Logo{
	width: 10%;
	color: white;
	font-size: 45px;
	float: left;
	clear: both;
	margin-left: 25px;
}

#merchText a{
	text-decoration: none;
	color: #a27cef;
	font-family: 'Fredoka One', cursive;
}

#stickedToTop{
	background: #fff;
	height: 200px;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.14);
}


#stickedToTop:after{
	visibility: none;
	content: " ";
	clear: both;
	display: block;
}

.tm-nav{
	margin-top: 5px;
	float: right;
	margin-right: 7px;
}

.tm-nav ul li {
	display: inline-block;
}

.tm-nav ul li a{
	padding: 10px 20px;
	color:#c4c4c4;
	line-height: 50px;
	font-size: 20px;
	text-decoration: none;
}

.tm-nav ul li a:hover{

	background: white;
	border-radius: 3px;
	color: #a27cef;
}

.tm-nav ul li button{
	padding-left: 10px;
	padding-right: 10px;
	border:none;
	outline:none;
	color:#c4c4c4;
	line-height: 40px;
	font-size: 20px;
	text-decoration: none;
	background: white;
}

.tm-nav ul li button:hover{
	background: white;
	border-radius: 3px;
	color: #a27cef;
	cursor: pointer;
}

.searchHeader{
	background: white;
}

.searchHeader:after{
	visibility: none;
	content: " ";
	clear: both;
	display: block;
}

.searchBar{
	width: 50%;

}

.searchBar input[type="text"]{
	margin-top: 10px;
  padding-left: 10px;
  padding-top:3px;
	padding-bottom: 2px;
	vertical-align: middle;
	width:45%;
	height: 40px;
	text-decoration: none;
	outline: none;
	border: none;
	border-left: none;
	background-color: #fff;
	font-size: 18px;
	vertical-align: middle;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	-webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: left;
}


.searchBar input[type="text"]::placeholder{
  color: #c4c4c4;
}

.searchButton{
	margin-top: 10px;
  width: 5%;
	height: 45px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background: url(/Merch/img/magnifier.png) no-repeat scroll center;
  background-color:  #fff;
	border:none;
	border-right: 1px solid #d6d6d6;
  float: left;
	cursor: pointer;
}

.filterAndShoppingCart{
	background: white;
	border-top: 1px solid #f2f2f2;
}

.cartDiv{
	background-color: white;
	font-size: 20px;
	padding: 20px;
	align-content: center;
	text-align: center;
	vertical-align: middle;
}

.cartDiv #dragAndDrop{
	font-weight: bold;

}

.cartDiv #click{
	font-weight: bold;
}

.cartDiv #textForCart1{
	color: #aaaaaa;
}

.cartDiv #textForCart2{
	color:#aaaaaa;
}

#shopping_bag{
}

.filterDiv{
	width: 300px;
	float: left;
	padding-left: 15px;
	color: #555;
	margin-top:230px;
	position: fixed;
}

.filterDiv ul li {
	padding: 20px;
	padding-top: 20px;
	padding-left: 15px;
	list-style-type: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	font-size: 20px;
	cursor: pointer;
}

.filterDiv ul li:hover {

	background:#e8e8e8;
}

.filterDiv input[type="radio"]{
	background: #fff;
}

.btn{
	padding-bottom: 30px;
}

.btn img{
	float: left;
	margin-right: 10px;
}

/*price filter*/
#priceSort{
	float: left;
}

#priceSortDiv{
		z-index:1 ;
}

#priceSortDiv #priceFilterDiv{
	float:right;
		display:none;
}

#priceSortDiv #filter_price{
	width: 100%;
}

/*quality filter*/
#qualitySort{
	float: left;
	padding-bottom: 20px;
}

#qualitySortDiv{
		z-index:1 ;
}

#qualitySortDiv #qualityFilterDiv{
		float: right;
		display:none;
}

/*category filter*/
#categorySort{
	float: left;
	padding-bottom: 20px;
}

#categorySortDiv{
		padding-bottom:  30px;
		z-index:1 ;
}

#categorySortDiv #categoryFilterDiv{

		float: right;
		display:none;
}

#undoIcon{
	padding-bottom: 10px;
}

.line{
		border-top: solid 1px #d6d6d6;
		margin-top:5px;
		margin-bottom: 5px;
		width: 300px;
}


#requestModal{
    display: none; /* Hidden by default */
		position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.12); /* Black w/ opacity */
		padding-top: 70px;
}


#requestContentDiv{
    background-color: #fefefe;
		border-radius: 7px;
    margin: 0px auto;
		height: 0px;
    width: 40%;
		-webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.5);
		box-shadow: 0 1px 6px 0 rgba(0,0,0,0.5);
		padding : 10px 20px 10px 20px;
}

#closeBtn{
	float: right;
	width: 30px;
	height: 30px;
	background: url('../img/cancel.png') no-repeat center;
	border: 1px solid;
	border-color: #fff;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	margin-bottom: 10px;
}


#categorySelectBar{
	width: 100%;
	height: 50px;
	outline: none;
	border: 1px solid #aaaaaa;
	margin-top: 10px;

}

#requestContentDiv #textareaTextBox{
	width: 100%;
	height: 200px;
	border:none;
	outline:none;
	resize: none;
	margin-top:10px;
	font-size: 20px;
}

#requestContentDiv #textareaTextBox::placeholder{
  color: #c4c4c4;
}

#requestContentDiv #priceTextBox{
	width: 150px;
	height: 30px;
	outline:none;
	resize: none;
	margin-top:10px;
	font-size: 20px;
	padding-bottom: 5px;
	float: left;
	border:none;
	border-bottom: solid 1px #c4c4c4;
}

#requestContentDiv #requestSubmit{
	float: right;
	padding: 10px;
	font-size: 20px;
	background: white;
	outline: none;
	border-radius: 5px;
	border: white;
	cursor: pointer;
	color:#c4c4c4;
	transition: background-color 0.35s ease, color 0.35s ease;
}

#requestContentDiv #requestSubmit:hover{
	background-color: #ff9500;
	color: #fff;

}


#myInfoDiv{
    padding: 0;
    font-family: 'helvetica';
}

.modal-dialog{
	margin-left: 450px;
}

#myInfoContentDiv{
    background-color:#fff;
	border-radius: 7px;
	height: 710px;
    width: 1000px;
	-webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.5);
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.5);
	padding : 10px 10px 10px 20px;

}


.informationDiv{
	float: left;
	width: 400px;
	height: 100%;
	border-right:  1px solid #d6d6d6;
	margin-right: 30px;

}

.informationDiv label{
		font-weight: normal;
}

.informationDiv #myInfoTitle{
	color: #337ab7;
	font-size: 25px;
	font-weight: normal;
}

.UsernameDiv{
	margin: 20px 0px 20px 0px;
}

.UsernameDiv label{
	color:#757575;
	font-size:18px;
}

.UsernameDiv .userNameInput{
	width: 90%;
	box-sizing: border-box;
	box-shadow: none;
	outline:none;
	border:none;
	background:#fff;
	border-bottom: 2px solid #d6d6d6;
	font-size: 16px;
	margin-top:10px;
	padding:5px;
}

.UserPhoneNumberDiv{
	margin: 20px 0px 20px 0px;
}

.UserPhoneNumberDiv label{
	color:#757575;
	font-size:18px;
}

.UserPhoneNumberDiv .phoneNumberInput{
	width: 90%;
	box-sizing: border-box;
	box-shadow: none;
	outline:none;
	border:none;
	background:#fff;
	border-bottom: 2px solid #d6d6d6;
	font-size: 16px;
	margin-top:10px;
	padding:5px;
}

.UserEmailDiv{
	margin: 20px 0px 20px 0px;
}

.UserEmailDiv label{
	color:#757575;
	font-size:18px;
}

.UserEmailDiv .emailInput{
	width: 90%;;
	box-sizing: border-box;
	box-shadow: none;
	outline:none;
	border:none;
	background:#fff;
	border-bottom: 2px solid #d6d6d6;
	font-size: 16px;
	margin-top:10px;
	padding:5px;
}

.pwLabelDiv{
	margin: 20px 0px 20px 0px;
	color:#757575;
	font-size:18px;
}

#PWLABEL{

}

.currnetPWDiv {
	position: relative;
	margin: 30px 0px 50px 0px;
}

.currnetPWDiv .passwordInput{
	width: 90%;
	box-sizing: border-box;
	box-shadow: none;
	outline:none;
	border:none;
	background:#fff;
	border-bottom: 2px solid #d6d6d6;
	font-size: 15px;
}

/*.currnetPWDiv .passwordInput:focus{
	border-color: #a27cef;
}*/

.currnetPWDiv .floatLabel {
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 5px;
	font-size:16px;
	transition: 0.15s ease all;
	color:#757575;
}

.currnetPWDiv input:focus ~ .floatLabel{
	top: -20px;
	left: 0px;
	font-size:14px;
	opacity: 1;
}

.newPWDiv {
	position: relative;
	margin: 30px 0px 50px 0px;
}

.newPWDiv .newPasswordInput{
	width: 90%;
	box-sizing: border-box;
	box-shadow: none;
	outline:none;
	border:none;
	background:#fff;
	border-bottom: 2px solid #d6d6d6;
	font-size: 15px;
}

/*.newPWDiv .newPasswordInput:focus{
	border-color: #a27cef;
}
*/
.newPWDiv .floatLabel {
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 5px;
	font-size:16px;
	transition: 0.15s ease all;
	color:#757575;
}

.newPWDiv input:focus ~ .floatLabel{
	top: -20px;
	left: 0px;
	font-size:14px;
	opacity: 1;
}

.confirmPWDiv {
	position: relative;
	margin: 30px 0px 50px 0px;

}

.confirmPWDiv .confirmPasswordInput{
	width: 90%;
	box-sizing: border-box;
	box-shadow: none;
	outline:none;
	border:none;
	background:#fff;
	border-bottom: 2px solid #d6d6d6;
	font-size: 15px;
}

/*.confirmPWDiv .confirmPasswordInput:focus{
	border-color: #a27cef;
}*/

.confirmPWDiv .floatLabel {
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 5px;
	font-size:16px;
	transition: 0.15s ease all;
	color:#757575;
}

.confirmPWDiv input:focus ~ .floatLabel{
	top: -20px;
	left: 0px;
	font-size:14px;
	opacity: 1;
}

.myInfoSubmitBtn{
	outline:none;
	background: #bfbfbf;
	border:none;
	cursor: pointer;
	padding: 15px;
	font-size: 15px;
	color: white;
	opacity: 1;
}

.myInfoSubmitBtn:hover{
	opacity: 0.75;
}


.myRequestAndSellDiv{
	float: left;
	width: 530px;
	height: 100%;
}

.myRequestAndSellDiv label{
	color: #a27cef;
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: normal;
}


.tab-title{
	font-size: 18px;

}



.myRequestAndSellDiv #requestedContent{
	height: 95%;
	margin-top:10px;
	overflow: auto;
}

.myRequestAndSellDiv #requestedContent #requestedItems{
	width: 100%;
	border-bottom: 2px solid #d6d6d6;
	height: 100px;
	padding:10px 0px 10px 0px;
}

.carousel-inner .item img{
	margin-left:  10px;
	margin-top: 10px;
	display: inline-block;
}

#categoryOfRequestedDiv{
	float: left;
	width: 100px;
}

#categoryOfRequestedDiv #iconContainer-book{
	border-radius: 50%;
	width:100px;
	height: 100px;
	background: url(../img/book.png) no-repeat scroll center;
	background-color: #ff80ab;
}

#categoryOfRequestedDiv #iconContainer-clothe{
	border-radius: 50%;
	width:100px;
	height: 100px;
	background: url(../img/shirt.png) no-repeat scroll center;
	/*background-color: #DB4437;*/

	background-color:#DB4437;
}

#categoryOfRequestedDiv #iconContainer-appliance{
	border-radius: 50%;
	width:100px;
	height: 100px;
	background: url(../img/television.png) no-repeat scroll center;

	background-color: #4285F4;
}

#categoryOfRequestedDiv #iconContainer-etc{
	color: white;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	border-radius: 50%;
	width:100px;
	height: 100px;
	background-color: #F09300;
}

#requestedPriceAndDesciption{
	padding: 10px;
}

#requestedPriceAndDesciption #requestedDescription{
	height: 70%;
	padding-left: 10px;
	padding-bottom:5px;
  overflow: hidden;
	word-wrap: break-word;
	white-space: nowrap;
	color:#757575;
}

#requestedPriceAndDesciption #requestedPrice{
	float: left;
	padding-left: 10px;
	height: 10%;

}

#myShoppingBag{
	margin: auto 0;
	padding: 0;
    font-family: 'helvetica';
}

#myShoppingBag #myShoppingBagTitle{
	float: left;
	width: 200px;
	font-size: 25px;
	margin-top:5px;
	color: #337ab7;
	font-weight: normal;
}

#myShoppingBagContentDiv{
    background-color:#fff;
	border-radius: 7px;
	height: 850px;
    width: 1250px;
	-webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.5);
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.5);
	padding : 10px 10px 10px 30px;
	overflow:hidden;
}

#myShoppingBagContentDiv label{
	padding: 10px;
	padding-left: 65px;
	font-size: 25px;
	color: #337ab7;
	font-weight: normal;
}

#myShoppingBagContentDiv button{
	float: right;
}

#MSBcontents{
	height: 690px;
	overflow-y: scroll;
	padding-left: 60px;
}

#tabCategories{
	height: 570px;
	width: 100%;
	display: inline-block;
}

.single-content{
	display: inline-block;
	margin: 15px 60px 20px 5px;

}

.shoppingbag-Photo{
	opacity: 0.85;
	transition: opacity 0.15s ease-in-out;
	-webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.5);
	box-shadow: 0 2px 6px 0px rgba(0,0,0,0.5);
}

.shoppingbag-Photo:hover{
	opacity: 1;
	cursor: pointer;
}

.bag-des{
	display: inline-block;
	width: 300px;
	
}

.shoppingbag-Title{
	margin:5px;
	font-size: 15px;
	width: 250px;
	float: left;
	text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;
  	float: left;
}

.shoppingbag-Price{
	color:  #c1c1c1;
	margin-top:7px;
	font-size: 12px;
	float: right;
}


#tab-icons{
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	float: right;
	width: 100%;
	margin-top: 660px;
	margin-left: 750px;
}

#tab-icons li{
	display: inline-block;
	width: 80px;
	height: 80px;
}

.flt-btn{
	z-index: 9998;
	position: absolute;
}

#shoppingbagClotheIcon{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	display: table;
	margin: 40px auto;
	z-index: 9998;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	cursor: pointer;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: url(../img/shirt-small.png) no-repeat scroll center;
	background-color: #DB4437;
	transition: width 0.28s ease, height 0.28s ease;
}

#shoppingbagClotheIcon:hover{
	width: 75px;
	height: 75px;
}

#shoppingbagTVIcon{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	display: table;
	margin: 40px auto;
	z-index: 9998;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	cursor: pointer;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: url(../img/television-small.png) no-repeat scroll center;
	background-color: #4285F4;
	transition: width 0.28s ease, height 0.28s ease;

}
#shoppingbagTVIcon:hover{
	width: 75px;
	height: 75px;
}

#shoppingbagBookIcon{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	display: table;
	margin: 40px auto;
	z-index: 9998;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	cursor: pointer;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: url(../img/book-small.png) no-repeat scroll center;
	background-color: #ff80ab;
	transition: width 0.28s ease, height 0.28s ease;

}

#shoppingbagBookIcon:hover{
	width: 75px;
	height: 75px;
}

#shoppingbagEtcIcon{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	display: table;
	margin: 40px auto;
	z-index: 9998;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	cursor: pointer;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: url(../img/more.png) no-repeat scroll center;
	background-color:#F09300;
	transition: width 0.28s ease, height 0.28s ease;

}

#shoppingbagEtcIcon:hover{
	width: 75px;
	height: 75px;
}


.nav a{
	font-size:18px;
	text-decoration: none !important;
}

.nav a:hover{
	text-decoration: none !important;
}

.main{
	float: right;
	width:83%;
	height: 100%;
	margin-top:210px;
	padding-left: 200px;
}

.main::after{
	visibility: none;
	content: " ";
	clear: both;
	display: block;
}

.contentBox{
	display: inline-block;
	padding: 20px;
	background: 	#ffffff;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	border-radius: 4px;
	width: 26%;
	margin: 20px;
	height: 550px;
}

.headerInBox{
	height: 50px;

}

.headerInBox .title{
	color: rgba(0,0,0,0.87);
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 10px;
	width: 80%;
	float: left;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.headerInBox .updatedDate{

	float: right;
	color: #aaa;
}

.imgWrap{
	height: 450px;
	cursor: pointer;
}

.img_description{
	padding: 10px;
	position: absolute;
	visibility: hidden;
	width: 17%;
}

.imgWrap:hover .img_description{
	visibility: visible;
}

.image:hover{
	opacity: 0.05;
	-webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.img_description .description{
	margin-bottom: 150px;
	color: #aaaaaa;
}

.img_description .hashtags{
	color: #aaaaaa;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.contentBox footer{
	height: 10%;
	padding-top: 20px;
}

#pricetagIcon{
	margin:5px;
	float: right;
}

#price{
	color:  #f50057;
	margin-top:7px;
	margin-right: 7px;
	font-size: 17px;
	font-weight;
	float: right;
}

#numOfView{
	color:  #aaa;
	margin-top:7px;
	font-size: 15px;
	float: right;
}

#eye{
	margin:5px;
	float: right;
}

#onClickPopUp{
	display: none; /* Hidden by default */
	position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.12); /* Black w/ opacity */
	padding-top: 70px;
}

#onClickPopUp #popUpContent{
	background-color: #fefefe;
	border-radius: 7px;
    margin: 0px auto;
	height: 0px;
    width: 1000px;
	-webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.5);
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.5);
	padding : 20px 20px 10px 0px;
}

#popupClose{
	float: right;
	width: 30px;
	height: 30px;
	background: url('../img/cancel.png') no-repeat center;
	border: 1px solid;
	border-color: #fff;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	margin-bottom: 10px;
}


#popUpPhoto{
	float: left;
	width: 50%;
	height: 100%;
	/*border-right: solid 1px #c4c4c4;*/
}

.slidePanel{
	position: relative;
}

#popUpPhoto .slidePhoto{
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.photoFlex{
	padding-left: 20px;
}

.photoFlex .opac-Photo{
	cursor: pointer;
	opacity: 0.5;
	display: inline-block;
	margin-left: auto;
    margin-right: auto;
    margin:10px;

}

.photoFlex .opac-Photo:hover{
	opacity: 1;
	-webkit-transition: opacity 0.18s ease-in-out;
  transition: opacity 0.18s ease-in-out;
}

#popUpDes{
	float: left;
	width: 45%;
	height: 100%; 
	margin-top: 30px;
	padding-left: 10px;
}

#popupHeader{
	clear: both;
}

#popUpTitle{
	float: left;
	font-size: 22px;
	padding: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
  overflow: hidden;
	width: 75%;
}

#categoryIcon{
	border-radius: 50%;
	width:100px;
	height: 100px;
	background: url(../img/book.png) no-repeat scroll center;
	background-color: #ff80ab;
	float: right;
}

#uploadedTime{
	color: #c4c4c4;
	font-size: 18px;
}

#popUpQuality{
	font-size: 20px;
}

#popUpPrice{
	padding-top: 20px;
	color: #337ab7;
	font-size: 18px;
}

.clearfix{
	visibility: none;
	content: " ";
	clear: both;
	display: block;
}

#popUpDescription{
	padding: 10px;
	font-size: 19px;
	height: 400px;
	width: 100%;
	border-bottom: 1px solid #efefef;
}

#popUpHashTags{
	padding: 10px;
	font-size: 17px;
	height: 100px;
	color: #999;
}
