*{
	margin: 0;
	padding: 0;
	font-family: 'helvetica';
}

body{
	background: #fff;
}

.Logo{
	width: 10%;
	color: white;
	font-size: 50px;
	float: left;
	clear: both;
	margin-left: 25px;
  margin-top: 5px;
}

#merchText a{
	text-decoration: none;
	color: #a27cef;
	font-family: 'Fredoka One', cursive;
}

.tm-nav{
	margin-top: 5px;
	float: right;
	margin-right: 7px;
}

.tm-nav ul li {
	display: inline-block;
}

.tm-nav ul li a{
	padding: 10px 20px;
	color:#c4c4c4;
	line-height: 50px;
	font-size: 20px;
	text-decoration: none;
}

.tm-nav ul li a:hover{
	background: white;
	border-radius: 3px;
	color: #a27cef;
}

.tm-nav ul li button{
	padding-left: 10px;
	padding-right: 10px;
	border:none;
	outline:none;
	color:#c4c4c4;
	line-height: 40px;
	font-size: 20px;
	text-decoration: none;
	background: white;
}

.tm-nav ul li button:hover{
	background: white;
	border-radius: 3px;
	color: #a27cef;
	cursor: pointer;
}

.searchHeader{
	position: fixed;
	top:0;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.14);
	background: #fff;
}

.searchHeader:after{
	visibility: none;
	content: " ";
	clear: both;
	display: block;
}

.searchBar{
	width: 50%;

}

.searchBar input[type="text"]{
	margin-top: 10px;
  padding-left: 10px;
  padding-top:3px;
	padding-bottom: 2px;
	vertical-align: middle;
	width:55%;
	height: 40px;
	text-decoration: none;
	outline: none;
	border: none;
	border-left: none;
	background-color: #fff;
	font-size: 18px;
	vertical-align: middle;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	-webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: left;
}

.searchBar input[type="text"]:focus{
	width: 55%;

}

.searchBar input[type="text"]::placeholder{
  color: #c4c4c4;
}

.searchButton{
	margin-top: 10px;
  width: 5%;
	height: 45px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background: url(/Merch/img/magnifier.png) no-repeat scroll center;
  background-color:  #fff;
	border:none;
	border-right: 1px solid #d6d6d6;
  float: left;
	cursor: pointer;
}

#requestModal{
    display: none; /* Hidden by default */
		position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.12); /* Black w/ opacity */
		padding-top: 70px;
}


#requestContentDiv{
    background-color: #fefefe;
		border-radius: 7px;
    margin: 0px auto;
		height: 0px;
    width: 40%;
		-webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.5);
		box-shadow: 0 1px 6px 0 rgba(0,0,0,0.5);
		padding : 10px 20px 10px 20px;
}

#closeBtn{
	float: right;
	width: 30px;
	height: 30px;
	background: url('../img/cancel.png') no-repeat center;
	border: 1px solid;
	border-color: #fff;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	margin-bottom: 10px;
}


#categorySelectBar{
	width: 100%;
	height: 50px;
	outline: none;
	border: 1px solid #aaaaaa;
	margin-top: 10px;

}

#requestContentDiv #textareaTextBox{
	width: 100%;
	height: 200px;
	border:none;
	outline:none;
	resize: none;
	margin-top:10px;
	font-size: 20px;
}

#requestContentDiv #textareaTextBox::placeholder{
  color: #c4c4c4;
}

#requestContentDiv #priceTextBox{
	width: 150px;
	height: 30px;
	outline:none;
	resize: none;
	margin-top:10px;
	font-size: 20px;
	padding-bottom: 5px;
	float: left;
	border:none;
	border-bottom: solid 1px #c4c4c4;
}

#requestContentDiv #requestSubmit{
	float: right;
	padding: 10px;
	font-size: 20px;
	background: white;
	outline: none;
	border-radius: 5px;
	border: white;
	cursor: pointer;
	color:#c4c4c4;
	transition: background-color 0.35s ease, color 0.35s ease;
}

#requestContentDiv #requestSubmit:hover{
	background-color: #ff9500;
	color: #fff;

}

#showRequested{
	background: white;
	border:none;
	outline:none;
	cursor:pointer;
	color:#afafaf;
	margin-top:10px;
	margin-bottom: 10px;
	font-size:15px;
}

.input-container{
	margin: 0 auto;
	margin-top: 70px;
	padding: 20px;
	width: 65%;
}

.upload-Panel{
	float: left;
	width: 65%;
}

#tips-panel{
		float: right;
		background: white;
		width: 30%;
		height: 700px;
		border-radius: 7px;
		-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

#tips-panel #titleForTips{
	margin: 0 auto;
	margin: 10px;
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;


}

#tips-panel #contentForTips{
	padding-left: 50px;
	padding-right: 50px;
	height: 75%;

}

#tips-panel #contentForTips ul{
	list-style-image: url('../img/check.png');
}

#tips-panel #contentForTips ul li{
	vertical-align: center;
	font-size:17px;
	font-weight: bold;
	margin-bottom: 10px;
}

#tips-panel #contentForTips ul li #detail{
	font-size:15px;
	font-weight: normal;
	color:#403f3f;
}

.requestedPanel{
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.requestedPanel .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.detailPanel{
	width: 65%;
	float: left;
}

#detailLabel{
	font-size: 40px;
	color:#403f3f;
}

#contentForDetail{
	font-size: 15px;
  color:#403f3f;
}

.category{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e6e4e4;
}

.category #categoryLabel{
	font-size: 30px;
	font-weight: bold;
	color:#403f3f;
}

.category #categorySelectBar{
	margin-bottom: 20px;
	margin-top: 20px;
	overflow:hidden;
	box-shadow:none;
	cursor:pointer;
	border: 1px solid #e6e4e4;
	border-radius: 7px;
	padding: 15px 15px;
	font-size:100%;
}

.category #categorySelectBar:focus{
	outline:none;
}

.select-selected {
  background-color: DodgerBlue;
}


.photo{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e6e4e4;
}

.photo #photoLabel{
	font-size: 30px;
	font-weight: bold;
	color:#403f3f;
}

#recommend{
	font-size: 18px;
  color:#afafaf;
	margin-top:10px;
}

#addupto{
	color:#afafaf;
	margin-top:10px;
	margin-bottom: 10px;
}

.photo input[type="file"] {
    display:none;
}

.custom-file-upload {
		border: 1px solid  #a27cef;
		border-radius: 7px;
    display: inline-block;
		padding: 15px 15px;
		font-weight: bold;
		color: #a27cef;
    cursor: pointer;
		transition: background-color 0.35s ease, color 0.35s ease;
}

.custom-file-upload:hover{
	border: 1px solid  white;
	border-radius: 7px;
	background-color: #a27cef;
	display: inline-block;
	padding: 15px 15px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}


.description{
	padding-top: 20px;
	padding-bottom: 20px; ;
	margin-bottom: 10px;
	border-bottom: 1px solid #e6e4e4;
}

.description #descriptionLabel{
	font-size: 30px;
	font-weight: bold;
	color:#403f3f;
}

#titleTextBox{
	align-content: center;
	height: 40px;
	width: 70%;
	padding: 5px;
	font-size:20px;;
	outline:none;
	border:none;
	border: 1px solid #e6e4e4;
	border-radius: 7px;
	margin-top: 20px;
	margin-bottom:  20px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

 #titleTextBox:focus{
	 -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
 	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
}

#titleTextBox:hover{
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
 box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
}

.description #textareaTextBox{
	resize: none;
	height: 300px;
	width: 95%;
	font-size:20px;
	border: 1px solid  #e6e4e4;
	border-radius: 7px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 5px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	outline:none;
	border:none;
}


.description #textareaTextBox:focus{
	resize: none;
	height: 300px;
	width: 95%;
	font-size:20px;
	border: 1px solid  #e6e4e4;
	border-radius: 7px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 5px;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
	outline:none;
	border:none;
}

.description #textareaTextBox:hover{
	resize: none;
	height: 300px;
	width: 95%;
	font-size:20px;
	border: 1px solid  #e6e4e4;
	border-radius: 7px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 5px;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
	outline:none;
	border:none;
}


.price{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e6e4e4;
}

.price #priceLabel{
	font-size: 30px;
	font-weight: bold;
	color:#403f3f;
}

.price #priceTextBox{
	height: 30px;
	width: 40%;
	font-size:100%;
	outline:none;
	border: none;
	border: 1px solid  #e6e4e4;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 7px;
	padding:5px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	outline:none;
	border: none;
}

.price #priceTextBox:focus{
	height: 30px;
	width: 40%;
	font-size:100%;
	outline:none;
	border: none;
	border: 1px solid  #e6e4e4;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 7px;
	padding:5px;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
	outline:none;
	border: none;
}
.price #priceTextBox:hover{
	height: 30px;
	width: 40%;
	font-size:100%;
	outline:none;
	border: none;
	border: 1px solid  #e6e4e4;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 7px;
	padding:5px;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
	outline:none;
	border: none;
}

.quality{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e6e4e4;

}

.quality #qualityLabel{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
	color:#403f3f;
}

.quality #radios{
	margin-bottom: 20px;
	margin-top: 20px;
}

.hashtag{
	margin-bottom: 20px;
	margin-top: 20px;
}

.hashtag #hashtagLabel{
	font-size: 30px;
	font-weight: bold;
	color:#403f3f;
}

.hashtag #hashtagTextArea{
	resize: none;
	height: 100px;
	width: 95%;
	font-size:20px;
	border: 1px solid  #e6e4e4;
	border-radius: 7px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 5px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	outline:none;
	border: none;
}

.hashtag #hashtagTextArea:focus{
	resize: none;
	height: 100px;
	width: 95%;
	font-size:20px;
	border: 1px solid  #e6e4e4;
	border-radius: 7px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 5px;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
	outline:none;
	border: none;
}

.hashtag #hashtagTextArea:hover{
	resize: none;
	height: 100px;
	width: 95%;
	font-size:20px;
	border: 1px solid  #e6e4e4;
	border-radius: 7px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 5px;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
	outline:none;
	border: none;
}

.previewimage
{
	height: 75px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}

.clearAndSubmit{
	height: 200px;
	padding-top: 50px;
}

.clearAndSubmit input[type="submit"]{
	display:none;
}

.clearAndSubmit #clearBtnLabel{
	float: right;
	padding: 20px 20px;
	cursor: pointer;
}

.clearAndSubmit #submitBtnLabel{
	float: right;
	border-radius: 7px;
	display: inline-block;
	padding: 20px 20px;
	background-color:#ff9500;
	opacity: 1;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.35s ease, color 0.35s ease;
}

.clearAndSubmit #submitBtnLabel:hover{
	opacity: 0.75;
}
