*{
	margin: 0;
	padding: 0;
	font-family: 'helvetica';
}

body{
	background: 	white;
}

.Logo{
	width: 10%;
	color: white;
	font-size: 50px;
	float: left;
	clear: both;
	margin-left: 25px;
  margin-top: 5px;
}

#merchText a{
	text-decoration: none;
	color: white;
	font-family: 'Fredoka One', cursive;
}

.tm-nav{
	margin-top: 5px;
	float: right;
	background: #a27cef;
	margin-right: 7px;
}

.tm-nav ul li {
	display: inline-block;
}

.tm-nav ul li a{
	padding: 10px 20px;
	color: white;
	line-height: 50px;
	font-size: 20px;
	text-decoration: none;
}

.tm-nav ul li a:hover{
	background: white;
	border-radius: 3px;
	color: #a27cef;
}

.searchHeader{
	background: #a27cef;
}

.searchHeader:after{
	visibility: none;
	content: " ";
	clear: both;
	display: block;
}

.searchBar{
	width: 50%;

}

.searchBar input[type="text"]{
	margin-top: 10px;
  padding-left: 10px;
  padding-top:3px;
	padding-bottom: 2px;
	vertical-align: middle;
	width:25%;
	height: 40px;
	text-decoration: none;
	outline: none;
	border-style: none;
	background-color: white;
	font-size: 18px;
	vertical-align: middle;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
  float: left;
}

.searchBar input[type="text"]::placeholder{
  color: #c4c4c4;
}

.searchButton{
	margin-top: 10px;
  width: 5%;
	height: 45px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background: url(/Merch/img/magnifier.png) no-repeat scroll center;
  background-color:  white;
	border-style: none;
  float: left;
}

.input-container{
	margin: 0 auto;
	padding: 20px;
	width: 65%;
}

.upload-Panel{
	float: left;
	width: 65%;
}

#tips-panel{
		float: right;
		background: white;
		width: 30%;
		height: 700px;
		border: 1px solid #e6e4e4;
		border-radius: 7px;
}

#tips-panel #titleForTips{
	margin: 0 auto;
	margin: 10px;
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

#tips-panel #contentForTips{

	padding-left: 50px;
	padding-right: 50px;
	height: 75%;

}

#tips-panel #contentForTips ul{
	list-style-image: url('../img/check.png');
}

#tips-panel #contentForTips ul li{
	vertical-align: center;
	font-size:17px;
	font-weight: bold;
	margin-bottom: 10px;
}

#tips-panel #contentForTips ul li #detail{
	font-size:15px;
	font-weight: normal;
	color:#afafaf;
}


.mainPhotoPanel input[type="file"]{
	 border: 1px solid #ccc;
	 display: inline-block;
	 padding: 6px 12px;
	 cursor: pointer;
	 color: transparent;

}

.title{
	margin-bottom: 10px;
	border-bottom: 1px solid #e6e4e4;
}

.title #titleLabel{
	font-size: 30px;
	font-weight: bold;
	color:#403f3f;
}

.title #titleTextBox{
	align-content: center;
	height: 40px;
	width: 70%;
	padding: 5px;
	font-size:20px;;
	outline:none;
	border:none;
	border: 1px solid #e6e4e4;
	border-radius: 7px;
	margin-top: 20px;
	margin-bottom:  20px;
}


.description{
	margin-bottom: 10px;
	border-bottom: 1px solid #e6e4e4;
}

.description #descriptionLabel{
	font-size: 30px;
	font-weight: bold;
	color:#403f3f;
}

.description #textareaTextBox{
	resize: none;
	height: 100px;
	width: 100%;
	font-size:20px;
	outline:none;
	border:none;
	border: 1px solid  #e6e4e4;
	border-radius: 7px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 5px;
}

.price{
	margin-bottom: 10px;
	border-bottom: 1px solid #e6e4e4;
}

.price #priceLabel{
	font-size: 30px;
	font-weight: bold;
	color:#403f3f;
}

.price #priceTextBox{
	height: 30px;
	width: 40%;
	font-size:100%;
	outline:none;
	border: none;
	border: 1px solid  #e6e4e4;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 7px;
	padding:5px;
}

.quality{
	margin-bottom: 10px;
	border-bottom: 1px solid #e6e4e4;

}

.quality #qualityLabel{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
	color:#403f3f;
}

.quality #radios{

	margin-bottom: 20px;
	margin-top: 20px;

}

.category{
	margin-bottom: 10px;

}

.category #categoryLabel{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
	color:#403f3f;
}
