*{
	margin: 0;
	padding: 0;
	font-family: 'Abel', sans-serif;
}

body{
	background: url(../img/merch_big.png) 400PX;
  background-color: #a27cef;
}

.tm-container{
    width: 70%;
    margin: 0 auto;
    align-content: center;
    border-radius: 7px;
}

.box{
  margin: 0 auto;
  width: 60%;
  padding: 10px;
  vertical-align: middle;
}

.boxbody{
  background: white;
	height: 870px;
	border-radius: 5px;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
}

.sayHi{
	margin: auto;
	font-size: 40px;
	font-weight: bold;
	width: 100%;
	height:20%;
	text-align: center;
	padding-top:50px;

}

.facebookDiv{
	margin: auto;
  width: 88%;
}

#facebookButton{
	color: white;
	width: 100%;
	height: 60px;
	margin: 10px;
	border: 2px solid #3b5998;
	background: url("../img/facebook.png") no-repeat 150px 13px;
	background-color: #3b5998;
	border-radius: 7px;
	font-size: 24px;
}

.Username_panel{
	margin: auto;
  width: 85%;
	padding: 10px;
}

#username{
  width: 100%;
	height: 40px;
	border: 2px solid #d3d3d3;
	border-radius: 7px;
	font-size: 20px;
	padding: 10px;
}

.Email_panel{
	margin: auto;
  width: 85%;
	padding: 10px;
}

#email{
	width: 100%;
	height: 40px;
	border: 2px solid #d3d3d3;
	border-radius: 7px;
	font-size: 20px;
	padding: 10px;
}

.PW_panel{
  margin: auto;
  width: 85%;
	padding: 10px;
}

#password{
  width: 100%;
	height: 40px;
	border: 2px solid #d3d3d3;
	border-radius: 7px;
	font-size: 20px;
	padding: 10px;
}

.PhoneNumber_panel{
	margin: auto;
	width: 85%;
	padding: 10px;
}

#phonenumber{
	width: 100%;
	height: 40px;
	border: 2px solid #d3d3d3;
	border-radius: 7px;
	font-size: 20px;
	padding: 10px;
}

.SignUp_panel{
  margin: auto;
	margin-top:30px;
  width: 50%;
}

#signup{
	width: 100%;
	height: 70px;
	margin: 10px;
	color:white;
	background-color: #a27cef;
	border: 2px solid #a27cef;
	border-radius: 7px;
	font-size: 24px;
}

.haveAccount{
	text-align: center;
	margin: auto;
	margin-top:30px;
	width: 50%;
	font-size: 20px;
}

.haveAccount a{
	text-decoration: none;
	color: 	#8b9dc3;
}

.haveAccount a:visited{
	text-decoration: none;
}
