*{
	margin: 0;
	padding: 0;
	font-family: 'helvetica';
}

body{
  background-color: #a27cef;
}

.tm-container{
    width: 70%;
    margin: 0 auto;
    align-content: center;
    border-radius: 7px;
		height: 500px;
}

.box{

  margin: 0 auto;
  width: 60%;

  vertical-align: middle;
}

.boxbody{
  background:  #a27cef;
	height: 870px;
	border-radius: 5px;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
}

.Logo{
	width: 10%;
	color: white;
	font-size: 50px;
	clear: both;
	padding-left: 50px;
}

#merchText a{
	text-decoration: none;
	color: white;
	font-family: 'Fredoka One', cursive;
}


.facebookDiv{
	margin: auto;
  width: 88%;
}

#facebookButton{
	color: white;
	width: 100%;
	height: 60px;
	margin: 10px;
	border: 2px solid #3b5998;
	background: url("../img/facebook.png") no-repeat 130px 13px;
	background-color: #3b5998;
	border-radius: 7px;
	font-size: 24px;
}

.Username_panel{
	margin: auto;
  width: 85%;
	padding: 10px;
}

#usernameLabel{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

#username{
  width: 100%;
	height: 40px;
	border: 2px solid #d3d3d3;
	border-radius: 7px;
	font-size: 20px;
	padding: 10px;
		background: white;
}

#username:focus{
		outline: none !important;
		border-radius: 7px;
}

.Email_panel{
	margin: auto;
  width: 85%;
	padding: 10px;
}

#emailLabel{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

#email{
  width: 100%;
	height: 40px;
	border: 2px solid #d3d3d3;
	border-radius: 7px;
	font-size: 20px;
	padding: 10px;
		background: white;
}

#email:focus{
		outline: none !important;
		border-radius: 7px;
}

.PW_panel{
  margin: auto;
  width: 85%;
	padding: 10px;
}

#passwordLabel{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

#password{
  width: 100%;
	height: 40px;
	border: 2px solid #d3d3d3;
	border-radius: 7px;
	font-size: 20px;
	padding: 10px;
	background: white;
}

#password:focus{
		outline: none !important;
		border-radius: 7px;
}

.PhoneNumber_panel{
  margin: auto;
  width: 85%;
	padding: 10px;
}

#phonenumberLabel{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

#phonenumber{
  width: 100%;
	height: 40px;
	border: 2px solid #d3d3d3;
	border-radius: 7px;
	font-size: 20px;
	padding: 10px;
	background: white;
}

#phonenumber:focus{
		outline: none !important;
		border-radius: 7px;
}

.SignUp_panel{
	margin: auto;
  width: 89%;
}

#signup{
	width: 100%;;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 10px;
	margin-top: 20px;
	margin-left: 13px;
	color:#a27cef;
	display:block ;
	background-color: white;
	border: 2px solid ;
	border-radius: 7px;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
}

.haveAccount{
	font-size: 18px;
	text-align: center;
	padding: 15px;
	margin-top: 80px;
	color: white;
}
.haveAccount a{

	color: 	white;
}
